<div class="container">
    <h1>Settings</h1>
    <div class="setting">
        <div class="photo col-12 col-lg-3">
            <img *ngIf="user?.img" src="{{user.img}}">
            <div class="nophoto" *ngIf="!user?.img">
                <h4>No Image</h4>
            </div>
            <label for="img" class="btn">Edit Photo</label>
        </div>
        <div class="edit col-12 col-lg-9">
            <h3>Edit Profile</h3>
            <form [formGroup]='form'>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="name">Name</label>
                    <input autocomplete="off" type="text" id="name" formControlName='name' class="form-control" placeholder="Name">
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="username">Username</label>
                    <input autocomplete="off" type="text" id="username" formControlName='username' class="form-control" placeholder="Username" [value]="user?.username">
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="country">From</label>
                    <select id="country" formControlName='country' class="form-control col-12">
                        <option value="afghanistan">Afghanistan</option>
                        <option value="USE">USE</option>
                        <option value="Canada">Canada</option>
                    </select>
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="live_country">Live in</label>
                    <select id="live_country" formControlName='live_country' class="form-control col-12">
                        <option value="afghanistan">Afghanistan</option>
                        <option value="USA">USA</option>
                        <option value="Canada">Canada</option>
                    </select>
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="live_city">City</label>
                    <input autocomplete="off" type="text" id="live_city" formControlName='live_city' class="form-control" placeholder="City" [value]="user?.live_city">
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="education">Education</label>
                    <input autocomplete="off" type="text" id="education" formControlName='education' class="form-control" placeholder="Education" [value]="user?.education">
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="number">Contact Number</label>
                    <input autocomplete="off" type="text" id="number" formControlName='number' class="form-control" placeholder="Contact Number">
                </div>
                <div class="form-group mb-2 col-12 col-lg-4 px-1">
                    <label for="birth">Date of Birth</label>
                    <input type="date" id="birth" formControlName='birth' class="form-control" [value]="user?.birth">
                </div>
                <div class="form-group mb-2 col-12 px-1">
                    <label for="about">Bio</label>
                    <textarea id="about" cols="30" rows="2" formControlName='about' class="form-control">{{user?.about}}</textarea>
                </div>
                <div class="form-check col-12">
                    <label class="form-check-label col-12">
                        <input type="radio" class="form-check-input" name="gender" value="checkedValue" [checked]='user?.single'>
                        Single
                    </label>
                    <label class="form-check-label col-12">
                    <input type="radio" class="form-check-input" name="gender" value="checkedValue" [checked]='!user?.single'>
                        Married
                    </label>
                </div>
                <div class="form-group col-12">
                    <button type="button" class="btn btn-dark" style="float: right!important;" (click)=submit()>Save Changes</button>
                </div>
                <div *ngIf="form?.invalid" class="alert alert-danger col-12 mt-2">
                    <div *ngIf="name?.errors?.required">
                        Name field is Required
                    </div>
                    <div *ngIf="name?.errors?.minlength">
                        Name should minimum be 3 char
                    </div>
                    <div *ngIf="name?.errors?.maxLength">
                        Name should maximum be 15 char
                    </div>
                    <div *ngIf="username?.errors?.required">
                        Username field is Required
                    </div>
                    <div *ngIf="city?.errors?.required">
                        City field is Required
                    </div>
                    <div *ngIf="education?.errors?.required">
                        Education field is Required
                    </div>
                    <div *ngIf="number?.errors?.required">
                        Number field is Required
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="image-cropping" [style.display]="cropper? 'block': 'none'">
    <div class="content">
      <div class="container text-center" style="height: 90%">
  
        <div class="col-md-12">
          <input type="file" class="d-none" id="img" (change)="onFileChange($event)" #image />
        </div>
  
        <div class="m-auto crop" style="height: 100%;">
          <image-cropper 
            [imageChangedEvent]="imgChangeEvt" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="4 / 4"
            [resizeToWidth]="1000" 
            format="png" 
            (imageCropped)="cropImg($event)" 
            (imageLoaded)="imgLoad()"
            (cropperReady)="initCropper()" 
            (loadImageFailed)="imgFailed()">
          </image-cropper>
        </div>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary" (click)="closecropper(image)">Close</button>
        <button type="button" class="btn btn-primary" (click)="selectimg(image)">Select</button>
      </div>
    </div>
  </div>
  