.navbar{
    border-bottom: 2px solid rgba(128, 128, 128, 0.342);
    position: fixed;
    width: 100%;
    margin-bottom: 40px;
    z-index: 1007;
}
.navbar ul li a {
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition-duration: .3s;
}
.button{
    margin-left: 0;
    box-shadow: none!important;
    background-color: #313131;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid white;
}
.button:hover{
    background-color: rgba(128, 128, 128, 0.342);
}
.search{
    box-shadow: none!important;
    margin-right: 0!important;
    border-right: none;
    background-color: #313131;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid white;
}
.search:focus{
    border-color: white;
    border-right: none;
}
.content{
    padding-top: 56px!important;
}
a {
    cursor: pointer!important;
}
.active {
    font-weight: 700;
    border-bottom: 2px solid whitesmoke!important;
}