<div class="posts">
    <div class="post">
      <div class="user">
        <div class="img" style="background-image: url('http://localhost:8000/media/af_aziz.png');"></div>
        <div class="name">
          <h1>Abdulaziz</h1>
          <h6>3 Days ago</h6>
        </div>
      </div>
      <div class="article">
       <p>
         Lorem ipsum, dolor sit amet consectetur 
         adipisicing elit. Saepe vitae molestiae 
         quia omnis distinctio voluptatem, voluptate 
         facilis sit quo porro earum officia culpa 
         alias ullam in eligendi aliquam itaque vel!
       </p>
     </div>
     <div class="imgs">
       <img src="http://localhost:8000/media/af_aziz.png">
     </div>
     <div class="numberlc">
       <div class="like">2.3M likes</div>
       <div class="comment">260k comments</div>
     </div>
     <div class="likecomment">
       <div class="like">Like</div>
       <div class="comment">Comment</div>
     </div>
    </div>
    <div class="post">
     <div class="user">
       <div class="img" style="background-image: url('http://localhost:8000/media/af_aziz.png');"></div>
       <div class="name">
         <h1>Abdulaziz</h1>
         <h6>3 Days ago</h6>
       </div>
     </div>
     <div class="imgs">
        <img src="http://localhost:8000/media/IMG_0025.PNG">
      </div>
      <div class="numberlc">
        <div class="like">2.3M likes</div>
        <div class="comment">260k comments</div>
      </div>
      <div class="likecomment">
        <div class="like">Like</div>
        <div class="comment">Comment</div>
      </div>
    </div>
   </div>